@{
    ViewBag.Title = "Responsive Web Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/pages/bootstrap.js"></script>

}

<div class="container">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h2>Responsive Designs</h2>
        </div>
    </div>

</div>


<div class="container custom-table">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            Responsive 12x Grid System
        </div>

        <div class="col-sm-offset-1 col-sm-4">
            Responsive Grid
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            Responsive Forms
        </div>

        <div class="col-sm-offset-1 col-sm-4">
            test
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8">
        <h3>Resources</h3>
            <ul>
                <li><a href="http://getbootstrap.com/getting-started">Introduction - Get Bootstrap</a></li>
                <li><a href="http://www.w3schools.com/bootstrap">Introduction - w3schools.com</a></li>
                <li><a href="http://www.sitepoint.com/twitter-bootstrap-tutorial-handling-complex-designs/">Introduction - Sitepoint</a></li>
                <li><a href="http://www.w3resource.com/twitter-bootstrap/responsive-design.php">12x Grid System - w3schools.com</a></li>
                <li><a href="http://www.w3schools.com/bootstrap/bootstrap_forms.asp">Responsive Forms - w3schools.com</a></li>
            </ul>        
        
        </div>
    </div>
</div>
