@model Spike.Web.Models.DangerousModel
@{
    ViewBag.Title = "CrossSiteScripting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {

    <script src="~/Scripts/pages/crossFrameScripting.js"></script>

    <script>
        



        $().ready(function () {

            var baseUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))";
            spike.page.links.allowedUrl = baseUrl + "Security/CrossSiteScriptingAllowed";
            spike.page.links.notAllowedUrl = baseUrl + "Security/CrossSiteScriptingNotAllowed";

            spike.page.viewModel = spike.page.createViewModel();
            ko.applyBindings(spike.page.viewModel);
        });


    </script>

}


<div class="container">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h2>Cross Frame Scripting</h2>

            <p>Stop from being loaded into a IFrame by breaking Out JS that reloads this page into the top frame (First Example)</p>
            <br/>

            <label>
                <input type="radio" value="loadable"
                       data-bind="checked: iFrameOption" />
                Loabale Page
            </label>
            <label>
                <input type="radio" value="unloadable"
                       data-bind="checked: iFrameOption" />
                Protected Page
            </label>
            <input type="button" value="Load IFrame" data-bind="click: loadIFrame" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <iframe id="frameHolder" width="400" height="400" scrolling="auto"></iframe>
        </div>
    </div>

  

</div>
