@using Spike.Web.App_Data
@model Spike.Web.Models.TokenErrorModel
@{
    ViewBag.Title = "GenericError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts { }

<h2>An unexpected error has occurred. Please contact the system administrator.</h2>

@if (Model != null)
{
    <p>Error References @Model.Token</p>
}



