
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/pages/razor.js"></script>
}

<div class="container">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h1>Razor Views and MVC</h1>
            <p>Some general practices on how to use razor views and MVC content delivery</p>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h2>MVC Content Delivery</h2>
        </div>
    </div>
</div>

<div class="container custom-table">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            @Html.ActionLink("Content Delivery", "ContentDelivery", "Razor")            
        </div>

        <div class="col-sm-offset-1 col-sm-4">
           --
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            --
        </div>

        <div class="col-sm-offset-1 col-sm-4">
            --
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8">
            <h3>Resources</h3>

            <ul>
                <li>--</li>
            </ul>
        </div>
    </div>
</div>

