@model Spike.Web.Models.TokenErrorModel

@{
    ViewBag.Title = "ApplicationError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts { }

<h2>There was an unexpected problem</h2>

<p>Please use the following reference for assistance [@Model.Token]</p>

