
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

<h2>Client Side Controls</h2>

<p>Use abstracted common.js modules to access client side utilities and communication methaphors.</p>

<button>Show Modal</button>*Remodal Library
<br/>
<br/>
<button>Show Toast</button>*Toastr Library





