<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        @if (string.IsNullOrEmpty(ViewBag.Title)) {
            Html.Raw("Sample Web");
        }
        else
        {
            Html.Raw(string.Format("Sample Web - {0}", ViewBag.Title));
        }
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="~/sass/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/sass/common.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("PageHeader", false)

</head>

<body>

    @RenderPage("~/Views/Shared/_Menu.cshtml")

    <!-- Page Content -->
    <div class="container page-content">

        @RenderBody()

    </div>
     
    <!-- Footer -->
    <hr />
    <footer>
        <div class="row center-wrapper">
            <div class="col-sm-offset-2 col-sm-8 col-lg-12">
                <p>Copyright &copy; Sample Website 2014</p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/knockout-3.3.0.js"></script>

    <!-- Custom JavaScript -->
    <script src="~/scripts/common.js"></script>

    @RenderSection("Scripts", true)

    <script>

        $().ready(function () {
            if (Project != undefined
                && Project.page != undefined
                && Project.page.initialize != undefined) {

                Project.page.initialize();
            }
        });

    </script>

</body>
</html>
